<a href="https://colab.research.google.com/github/SainiManisha/Data-Science_Tutorial/blob/master/weatherAUS_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#from google.colab import auth
#auth.authenticate_user()

In [ ]:
data='/content/weatherAUS.csv'

In [ ]:
df = pd.read_csv(data)
df.head()

         Date Location  MinTemp  ...  RainToday  RISK_MM  RainTomorrow
0  2008-12-01   Albury     13.4  ...         No      0.0            No
1  2008-12-02   Albury      7.4  ...         No      0.0            No
2  2008-12-03   Albury     12.9  ...         No      0.0            No
3  2008-12-04   Albury      9.2  ...         No      1.0            No
4  2008-12-05   Albury     17.5  ...         No      0.2            No

[5 rows x 24 columns]

In [ ]:
df.shape

(21305, 24)

In [ ]:
col_names = df.columns
col_names

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [ ]:
df.drop(['RISK_MM'], axis=1, inplace=True)

In [ ]:
# view summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21305 entries, 0 to 21304
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           21305 non-null  object
 1   Location       21305 non-null  object
 2   MinTemp        20982 non-null  float64
 3   MaxTemp        21129 non-null  float64
 4   Rainfall       21083 non-null  float64
 5   Evaporation    7360 non-null   float64
 6   Sunshine       4778 non-null   float64
 7   WindGustDir    17893 non-null  object
 8   WindGustSpeed  17895 non-null  float64
 9   WindDir9am     18515 non-null  object
 10  WindDir3pm     19609 non-null  object
 11  WindSpeed9am   20762 non-null  float64
 12  WindSpeed3pm   20088 non-null  float64
 13  Humidity9am    20949 non-null  float64
 14  Humidity3pm    20259 non-null  float64
 15  Pressure9am    17901 non-null  float64
 16  Pressure3pm    17898 non-null  float64
 17  Cloud9am       11919 non-null  float64
 18  Cloud3pm       11596 non-null  float64
 19  Temp9am        21083 non-null  float64
 20  Temp3pm        20398 non-null  float64
 21  RainToday      21082 non-null  object
 22  RainTomorrow   21304 non-null  object
dtypes: float64(16), object(7)
memory usage: 3.7+ MB

In [ ]:
X = df.drop(['RainTomorrow'], axis=1)
y = df['RainTomorrow']

In [ ]:
X.head()

         Date Location  MinTemp  MaxTemp  ...  Cloud3pm  Temp9am  Temp3pm RainToday
0  2008-12-01   Albury     13.4     22.9  ...       NaN     16.9     21.8        No
1  2008-12-02   Albury      7.4     25.1  ...       NaN     17.2     24.3        No
2  2008-12-03   Albury     12.9     25.7  ...       2.0     21.0     23.2        No
3  2008-12-04   Albury      9.2     28.0  ...       NaN     18.1     26.5        No
4  2008-12-05   Albury     17.5     32.3  ...       8.0     17.8     29.7        No

[5 rows x 22 columns]

In [ ]:
X.drop(['Date'], axis=1, inplace=True)
X = pd.get_dummies(X)

In [ ]:
X.head()

   MinTemp  MaxTemp  Rainfall  ...  WindDir3pm_WSW  RainToday_No  RainToday_Yes
0     13.4     22.9       0.6  ...               0             1              0
1      7.4     25.1       0.0  ...               1             1              0
2     12.9     25.7       0.0  ...               1             1              0
3      9.2     28.0       0.0  ...               0             1              0
4     17.5     32.3       1.0  ...               0             1              0

[5 rows x 74 columns]

In [ ]:
X.values

array([[13.4, 22.9,  0.6, ...,  0. ,  1. ,  0. ],
       [ 7.4, 25.1,  0. , ...,  1. ,  1. ,  0. ],
       [12.9, 25.7,  0. , ...,  1. ,  1. ,  0. ],
       ...,
       [16.5, 20.9,  0. , ...,  0. ,  1. ,  0. ],
       [16.5, 21.5,  5.2, ...,  0. ,  0. ,  1. ],
       [18.3, 22.5,  3.4, ...,  0. ,  0. ,  0. ]])

In [ ]:
y = (y == 'Yes')
y = y.values

In [ ]:
y = np.int32(y)
y

array([0, 0, 0, ..., 1, 1, 0], dtype=int32)

In [ ]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((17044, 74), (4261, 74))

In [ ]:
# check data types in X_train

X_train.dtypes

MinTemp           float64
MaxTemp           float64
Rainfall          float64
Evaporation       float64
Sunshine          float64
                   ...
WindDir3pm_W        uint8
WindDir3pm_WNW      uint8
WindDir3pm_WSW      uint8
RainToday_No        uint8
RainToday_Yes       uint8
Length: 74, dtype: object

In [ ]:
# display categorical variables

categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']

categorical

[]

In [ ]:
# display numerical variables

numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']

numerical

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'Location_Albury',
 'Location_BadgerysCreek',
 'Location_Cobar',
 'Location_CoffsHarbour',
 'Location_Moree',
 'Location_Newcastle',
 'Location_NorahHead',
 'Location_NorfolkIsland',
 'WindGustDir_E',
 'WindGustDir_ENE',
 'WindGustDir_ESE',
 'WindGustDir_N',
 'WindGustDir_NE',
 'WindGustDir_NNE',
 'WindGustDir_NNW',
 'WindGustDir_NW',
 'WindGustDir_S',
 'WindGustDir_SE',
 'WindGustDir_SSE',
 'WindGustDir_SSW',
 'WindGustDir_SW',
 'WindGustDir_W',
 'WindGustDir_WNW',
 'WindGustDir_WSW',
 'WindDir9am_E',
 'WindDir9am_ENE',
 'WindDir9am_ESE',
 'WindDir9am_N',
 'WindDir9am_NE',
 'WindDir9am_NNE',
 'WindDir9am_NNW',
 'WindDir9am_NW',
 'WindDir9am_S',
 'WindDir9am_SE',
 'WindDir9am_SSE',
 'WindDir9am_SSW',
 'WindDir9am_SW',
 'WindDir9am_W',
 'WindDir9am_WNW',
 'WindDir9am_WSW',
 'WindDir3pm_E',
 'WindDir3pm_ENE',
 'WindDir3pm_ESE',
 'WindDir3pm_N',
 'WindDir3pm_NE',
 'WindDir3pm_NNE',
 'WindDir3pm_NNW',
 'WindDir3pm_NW',
 'WindDir3pm_S',
 'WindDir3pm_SE',
 'WindDir3pm_SSE',
 'WindDir3pm_SSW',
 'WindDir3pm_SW',
 'WindDir3pm_W',
 'WindDir3pm_WNW',
 'WindDir3pm_WSW',
 'RainToday_No',
 'RainToday_Yes']

In [ ]:
# check again missing values in numerical variables in X_train

X_train[numerical].isnull().sum()

MinTemp             245
MaxTemp             143
Rainfall            174
Evaporation       11213
Sunshine          13243
                  ...
WindDir3pm_W          0
WindDir3pm_WNW        0
WindDir3pm_WSW        0
RainToday_No          0
RainToday_Yes         0
Length: 74, dtype: int64

In [ ]:
# check missing values in numerical variables in X_test

X_test[numerical].isnull().sum()

MinTemp             78
MaxTemp             33
Rainfall            48
Evaporation       2732
Sunshine          3284
                  ...
WindDir3pm_W         0
WindDir3pm_WNW       0
WindDir3pm_WSW       0
RainToday_No         0
RainToday_Yes        0
Length: 74, dtype: int64

In [ ]:
# categorical

In [ ]:
! pip install category_encoders

In [ ]:
X_train_modif = pd.get_dummies(X_train)
X_train_modif.head()

In [ ]:
# encode RainToday variable

import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['RainToday'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [ ]:
X_train.head()

In [ ]:
for var in df.columns:
    print(var,df[var].dtype)

In [ ]:
df.isnull()

In [ ]:
# train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(solver='liblinear', random_state=0)

# fit the model
logreg.fit(X_train, y_train)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

In [ ]:
pipeline = Pipeline([
    ('imputer', SimpleImputer()),
    ('scaler', StandardScaler()),
    ('classifier', LogisticRegression())
])

In [ ]:
pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('imputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('classifier',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [ ]:
pipeline.score(X_test, y_test)

0.8453414691386998

In [ ]:
pipeline2 = Pipeline([
    ('imputer', SimpleImputer()),
    ('classifier', LogisticRegression())
])

In [ ]:
pipeline2.fit(X_train, y_train)
pipeline2.score(X_test, y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.8404130485801455